# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CICD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  compile:
    runs-on: Agent-1
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '23'

    - name: Frontend Compilation (Syntax Check)
      run: |
        cd client
        find . -name "*.js" -exec node --check {} +

    - name: Backend Compilation (Syntax Check)
      run: |
        cd api
        find . -name "*.js" -exec node --check {} +

  gitleaks-scan:
    runs-on: Agent-1
    needs: compile

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Remove gitleaks from tmp if it exist
        run: rm -f /tmp/gitleaks.tmp || echo "gitleaks.tmp has already been removed."

      - name: Gitleaks Setup
        uses: gitleaks/gitleaks-action@v2

      - name: Gitleaks Scan
        run: |
          gitleaks detect --source ./client --exit-code 1
          gitleaks detect --source ./api --exit-code 1
      
  trivy_fs_scan:
    runs-on: Agent-1
    needs: gitleaks-scan

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.28.0
        with:
          scan-type: 'fs'
          scan-ref: '.'
          format: 'table'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'

  sonarqube_scan:
    runs-on: ubuntu-latest
    needs: trivy_fs_scan

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: SonarCloud Scan
        uses: SonarSource/sonarqube-scan-action@v6.0.0
        env:
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  docker_backend_image_bulid_and_push:
    runs-on: ubuntu-latest
    needs: sonarqube_scan

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: DockerHub login
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./api
          push: true
          tags: nourdeart/backend:latest
          file: ./api/Dockerfile

  docker_frontend_image_bulid_and_push:
    runs-on: ubuntu-latest
    needs: sonarqube_scan

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: DockerHub login
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./client
          push: true
          tags: nourdeart/frontend:latest
          file: ./client/Dockerfile

  trivy_image_scan:
    runs-on: Agent-1
    needs: [docker_frontend_image_bulid_and_push, docker_backend_image_bulid_and_push]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Trivy Image Scan for Backend
        uses: aquasecurity/trivy-action@0.28.0
        with:
          scan-type: image
          image-ref: nourdeart/backend:latest
          format: table
          exit-code: '0'
          ignore-unfixed: true
          vuln-type: os,library
          severity: CRITICAL,HIGH

      - name: Run Trivy Image Scan for Frontend
        uses: aquasecurity/trivy-action@0.28.0
        with:
          scan-type: image
          image-ref: nourdeart/frontend:latest
          format: table
          exit-code: '0'
          ignore-unfixed: true
          vuln-type: os,library
          severity: CRITICAL,HIGH
